:root {
  --color_bg: #f1c40f;
  --color_main: black;
  --color_sec: white;
  --main_w: 900px;
}

* {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color_bg);
}

header {
  background-color: var(--color_main);
  color: var(--color_sec);
  width: 100%;
  height: 50px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

nav p {
  justify-self: center;
  align-self: center;
  color: var(--color_sec);
  font-size: 50px;
}

nav a {
  justify-self: center;
  align-self: center;
  color: var(--color_sec);
  text-decoration: none;
}

.header_conteiner {
  width: var(--main_w);
  height: 100%;
  margin: 0 auto;
  font-size: 30px;
  /* border: 1px dotted white; */
}

.main {
  /* border: 1px dotted white; */
  width: var(--main_w);
  height: 100%;
  margin: 0 auto;
  color: var(--color_main);
}

fieldset {
  width: 600px;
  margin: 0 auto;
}

input {
  border: 0;
  border-bottom: 1px solid var(--color_sec);
  margin-bottom: .5em;
}

.line {
  width: 100%;
}

.btn {
  padding: 2rem 4rem;
  border: 1px solid var(--color_main);
  background: transparent;
  font-size: 0.9em;
  border-radius: 2px;
}